/*font-family: 'Lato', sans-serif;*/

.user-menu {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
  color: white;
  list-style: none;
  display: flex;
  padding: 0;
}

.user-icon,
.empty-user-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #eee;
}

.menu-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.text-button {
  border: 0;
  background: transparent;
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: inherit;
}
