body {
  background-color: #fafafa;
}

.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}

.App-header {
  background-color: #455a64;
  padding: 15px;
  color: white;
  margin-bottom: 30px;
  z-index: 5;
  box-shadow: 0 4px 10px 0px rgba(0,0,0,0.3)
}

.App-body {
  padding: 30px;
}

.header-top {
  display: flex;
  height: 30px;
}
.header-left-box {
  display: flex;
  flex: 1;
}
.header-right-box {
  display: flex;
  /*justify-content: flex-end;*/
}

h1 {
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  font-family: 'Roboto Mono';
}

.App-intro {
  font-size: large;
  font-family: 'Lato';
}

.App-card {
  box-shadow: 0 2px 5px 0px rgba(0,0,0,0.2);
  padding: 15px;
  background: white;
  margin: 15px auto 45px;
}
.card-heading {
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  font-size: 16px;
  margin: 15px auto 0 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.coffee-list {
  /*
     flexbox is counterintuitive because it would seem like
     this line would mean that coffee-list would be all flexy
     but flex applies to how .coffee-list's children are laid out.

     when they all have width/height set, this results in all
     of coffee-list's children acting like `display: inline-block`
  */
  display: flex;
}

.coffee-item {
  margin: 10px;
  padding: 10px;
  width: 150px;
  border: 2px solid gray;
  background-color: #e3e3e3;
}

.input-label {
  color: green;
}

.coffee-size {
  font-size: 85%;
}
