.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}

.App-header {
  background-color: #455a64;
  height: 100px;
  padding: 15px;
  color: white;
}

.header-top {
  display: flex;
  height: 30px;
}
.header-left-box {
  display: flex;
  flex: 1;
}
.header-right-box {
  display: flex;
  /*justify-content: flex-end;*/
}

h1 {
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  font-family: 'Roboto Mono';
}

.App-intro {
  font-size: large;
  font-family: 'Lato';
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.coffee-list {
  margin: 10px;
  padding: 10px;
  width: 150px;
  border: 2px solid gray;
  background-color: #e3e3e3;
  float: left;
}

.input-label {
  color: green;
}

.coffee-size {
  font-size: 85%;
}
